<%- include("./partials/header") %>

<div
  class="banner position-relative"
  style="background-image: url(<%=`${imageLargeUrl}${dataMovies[0].data[randomIndexBanner]?.backdrop_path}`%>)"
>
  <div class="banner-wrapper w-100 position-absolute top-50 start-50 d-flex align-items-center justify-content-around">
    <div class="banner-content">
      <h2 class="movie-heading"><%= dataMovies[0].data[randomIndexBanner]?.title %></h2>
      <p class="movie-desc"><%= dataMovies[0].data[randomIndexBanner]?.overview.substring(0, 200) + "..." %></p>
      <a
        href="<%= `/movie/${dataMovies[0].data[randomIndexBanner]?.id}/watch` %>""
        class="btn-control-movie movie-watch me-1"
        ><i class="far fa-play-circle me-1"></i>Watch Now</a
      >
      <a
        href="<%= `/movie/${dataMovies[0].data[randomIndexBanner]?.id}` %>"
        class="btn-control-movie movide-view-detail"
        ><i class="fas fa-info-circle me-1"></i>View Info</a
      >
    </div>
    <div class="banner-image">
      <img src="<%= `${posterImageUrl + dataMovies[0].data[randomIndexBanner]?.poster_path}` %>" alt="" />
    </div>
  </div>
</div>

<main class="main">
  <% for( let index = 0; index < dataMovies.length; index++ ) { %>
  <div class="movie-wrapper pt-4 ps-2">
    <h3 class="section-heading mb-3 ps-3"><%= dataMovies[index].titleList %></h3>
    <ul class="list-movie" id="<%=dataMovies[index].idList %>">
      <% dataMovies[index].data.forEach(movie => { %>
      <li class="item-movie pb-2">
        <a href="<%= `${dataMovies[index].mediaType}/${movie.id}` %>">
          <div class="item-image">
            <img src="<%=`${imageSmallUrl + movie.poster_path}` %>" alt="<%= movie.title ? movie.title : movie.original_name %> " />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2"><%= movie.title ? movie.title : movie.original_name %></h3>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
  <% } %>
</main>

<%- include("./partials/footer") %>
